<div class="container">
  <div class="header">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>Choose a cryptocurrency</mat-label>
        <input
          type="text"
          matInput
          formControlName="symbol"
          [matAutocomplete]="auto"
          placeholder="Enter symbol (e.g., BTC, ETH, LTC, etc.)"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <cdk-virtual-scroll-viewport
            [style.height.px]="maxDropdownHeight"
            itemSize="30"
            class="virtual-scroll-style"
          >
            <mat-option
              *cdkVirtualFor="let option of filteredOptions"
              [value]="option.asset_id"
            >
              <div class="mat-option-field-style">
                <img
                  [src]="option.url"
                  alt="{{ option.asset_id }}"
                  width="20"
                  height="20"
                  style="margin-right: 8px"
                />
                {{ option.asset_id }}
              </div>
            </mat-option>
          </cdk-virtual-scroll-viewport>
        </mat-autocomplete>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubscribe()"
      >
        Subscribe
      </button>
    </form>
  </div>
  <app-market-data [asset]="selectedAsset"></app-market-data>
  <app-historical-chart [asset]="selectedAsset"></app-historical-chart>
</div>
